services:
  db:
    image: postgres:16-alpine
    container_name: tak-postgres-container
    restart: unless-stopped
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - /home/yaroslav/Program files/DBs/takdb:/var/lib/postgresql/data
    networks:
      - bot-network

  bot:
    build: .
    container_name: tak-bot
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
    networks:
      - bot-network

networks:
  bot-network:
    driver: bridge